In [1]:
import pandas as pd

In [4]:
def function1():
    p1 = ({"name":"P1","age":25,"id":1234})
    p2 = ({"name":"P2","age":35,"id":456})
    p3 = ({"name":"P3","age":20,"id":789})
    
    s1 = pd.Series(p1)
    s2 = pd.Series(p2)
    s3 = pd.Series(p3)
    
    df = pd.DataFrame([s1,s2,s3])

    print(s1)
    print(s2)
    print(s3)
    print(df)

In [5]:
function1()

name      P1
age       25
id      1234
dtype: object
name     P2
age      35
id      456
dtype: object
name     P3
age      20
id      789
dtype: object
  name  age    id
0   P1   25  1234
1   P2   35   456
2   P3   20   789

In [6]:
def function2():
    p1 = ({"name":"P1","age":25,"id":1234})
    p2 = ({"name":"P2","age":35,"id":456})
    p3 = ({"name":"P3","age":20,"marks":85})
    
    s1 = pd.Series(p1)
    s2 = pd.Series(p2)
    s3 = pd.Series(p3)
    
    df = pd.DataFrame([s1,s2,s3])
    
    print(df)

In [7]:
function2()

  name  age      id
0   P1   25  1234.0
1   P2   35   456.0
2   P3   20     NaN